body {
    background-color: antiquewhite;
}

#tarolo {
    background-color: brown;
    color: mintcream;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;

}

#menu a{
    text-decoration: none;
    color: greenyellow;
    background-color: green;
    border: 2px solid greenyellow;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 13px;
}

#menu a:hover{
    color:green;
    background-color: red;
}